<footer class="footer">
    <div class="pull-left">
        <span class="text-muted small">
            Visit us: <span class="social social-github"></span><a href="{{ projectHomepage }}">{{ projectHomepage }}</a>
        <span class="glyphicon glyphicon-time"></span> {{ lastRendered }}
        </span>
    </div>


</footer>