 {{> navigation }}


<div class="row row-eq-height">

    <div class="col-md-6">


        {{> recipeEditor }}

    </div>
    <div class="col-md-6">

        {{> visualizationArea }}

    </div>
    <!-- row -->
</div>

{{> footer}}



<!-- Knockout.js ViewModel and page handler logic -->
<script src="/js/scenarioEditor.js"></script>
<script>
    // materialize template properties and pass into ViewModel
    var options = {
            topologyServiceEndpoint: '{{ topologyServiceEndpoint }}'
        };
    var viewModel = new RecipeViewModel(options);
    ko.applyBindings(viewModel);
</script>
