 {{> navigation }}


<div class="alert alert-danger alert-fixed" data-bind="visible: errorMessage">
    <span id="errorMessage" data-bind="text: errorMessage"></span>
</div>




<div class="row row-eq-height">

    <div class="col-md-6">


        {{> recipeEditor }}

    </div>
    <div class="col-md-6">

        {{> visualizationArea }}

    </div>
    <!-- row -->
</div>

{{> footer}}