 {{> navigation }}

<div class="row">

    <div class="col-md-6">


        {{> topologyEditor }}

    </div>
    <div class="col-md-6">

        {{> dependencyGraph }}

    </div>
    <!-- row -->
</div>

{{> footer}}