<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dependencyGraph.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>Amalgam8: Scenario Editor</title>

</head>

<body>
    <!-- D3 -->
    <script src="/js/d3.v3.min.js"></script>

    <div class="container">
        {{{body}}}
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>