<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dependencyGraph.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <!-- jQuery  -->
    <script src="/js-lib/jquery.min.js"></script>
    <!-- D3 -->
    <script src="/js-lib/d3.v3.min.js"></script>

    {{{body}}}
  </body>
</html>
